<div class="mom">
    <h2 class="top-heading">
        MoMs of client meetings
        <button class="btn btn-green" (click)="convertToPDF()">
        Download MoMs
    </button>
    </h2>
    <form [formGroup]="momForm" (ngSubmit)="addMom()">
        <h3>Add new MoM</h3>
        <div class="row row-1">
            <input
                type="text"
                placeholder="Meeting Date"
                formControlName="meetingDate"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
            />

            <input type="number" formControlName="durationInMinutes" placeholder="Duration In Minutes" />

            <input type="text" formControlName="moMLink" placeholder="MoM Link" />

        </div>
        <div class="row row-2">
            
            <input type="text" formControlName="comments" placeholder="Comments" />
            
            <button type="submit" class="btn">Add mom</button>

        </div>
    </form>
  
    <table class="mom-list" id="mom-table">
      <thead>
        <th>Meeting Date</th>
        <th>Duration (in minutes)</th>
        <th>MoM Link</th>
        <th>Comments</th>
        <th>Delete</th>
      </thead>
      <tbody>
        @for(mom of moms; track $index) {
        <tr class="mom-{{ $index }} mom-row">
            <td>{{ mom.meetingDate | date }}</td>
            <td>{{ mom.durationInMinutes }}</td>
            <td><a href="{{mom.moMLink}}" target="_blank">{{ mom.moMLink }}</a></td>
            <td>{{ mom.comments }}</td>
            <td>
                <button (click)="deleteMom(mom.id)" class="delete-mom">
                <i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  