/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
*{
  font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

    transition: all .4s;
}
body{
  margin: 18px;
}
.btn{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    background-color: #0056b3;
}

.btn-green{
  background-color: rgb(99, 192, 99) !important;
}
.btn-green:hover{
  background-color: rgb(68, 155, 68) !important;
}
html, body { height: 100%; }
