<div class="team">
  <h2 class="top-heading">
    Approved Teams
    @if(userRoleId === roles.Admin || userRoleId === roles['Project Manager'] )
    {
    <button class="btn btn-green" (click)="addPhase()" [disabled]="phaseNo!=getCurrentPhase()">
        Add Phase 
    </button>
    }
    @if(phaseNo > 0)
    {
        <button class="btn btn-green" (click)="convertToPDF()">
            Download Approved Teams
        </button>
    }
</h2>
    @if(phaseNo > 0)
    {
      Current Phase: {{phaseNo}}
      @if(userRoleId === roles.Admin || userRoleId === roles['Project Manager'] )
      {
      <form [formGroup]="teamForm" (ngSubmit)="addTeam()">
        <h3>Add new team</h3>
        <div class="row row-1">
            <input type="number" formControlName="numberOfResources" placeholder="Number Of Resources" />
            <input type="text" formControlName="role" placeholder="Role" />
            <input type="number" formControlName="availability" placeholder="Availability" />      
        </div>
        
        <div class="row row-2">
            <input type="text" formControlName="duration" placeholder="Duration" />
            
            <button type="submit" class="btn">Add Team</button>
        </div>
      </form>
      }
  }

  @for(phase of phases; track $index)
  {
    <h4>Phase - {{phase}}</h4>

    <table class="team-list" id="team-table">
      <thead>
        <th>Number Of Resources</th>
        <th>Role</th>
        <th>Availability</th>
        <th>Duration</th>
        @if(userRoleId === roles.Admin || userRoleId === roles['Project Manager'] )
        {
        <th>Delete</th>
        }
      </thead>
      <tbody>
        @for(team of teams; track $index) {
            @if(team.phaseNumber == phase)
            {
                <tr class="team-{{ $index }} team-row">
                  <td [style.pointer-events]="userRoleId === roles.Admin || userRoleId === roles['Project Manager']  ? 'auto' : 'none'" (click)="openUpdateTeamModal($index)">{{ team.numberOfResources }}</td>
                  <td [style.pointer-events]="userRoleId === roles.Admin || userRoleId === roles['Project Manager']  ? 'auto' : 'none'" (click)="openUpdateTeamModal($index)">{{ team.role }}</td>
                  <td [style.pointer-events]="userRoleId === roles.Admin || userRoleId === roles['Project Manager']  ? 'auto' : 'none'" (click)="openUpdateTeamModal($index)">{{ team.availability }} %</td>
                  <td [style.pointer-events]="userRoleId === roles.Admin || userRoleId === roles['Project Manager']  ? 'auto' : 'none'" (click)="openUpdateTeamModal($index)">{{ team.duration }}</td>
                  @if(userRoleId === roles.Admin || userRoleId === roles['Project Manager'] )
                  {
                  <td (click)="openUpdateTeamModal($index)">
                      <button (click)="deleteTeam(team.id)" class="delete-team">
                      <i class="fa fa-trash-o"></i>
                      </button>
                  </td>
                  }
                </tr>
            }
        }
      </tbody>
    </table>
  }
</div>
