<div class="sidebar">
    @if(userRoleId === roles.Admin || userRoleId === roles.Auditor)
    {
        <a routerLink="/create">
            <div class="new-project link-btn">
                <span class="add-icon">+</span> New Project
            </div>
        </a>
    }
    @if(userRoleId === roles.Admin)
    {
        <a routerLink="/createUser">
            <div class="new-user link-btn">
                <span class="add-icon">+</span> Create User
            </div>
        </a>
    }
    
    <a routerLink="/dashboard" (click)="activePage = 1">
        <div class="projects-link link" [class.active]="activePage === 1">
            Projects
        </div>
    </a>
    
    @if(userRoleId === roles.Admin)
    {
        <a routerLink="/admins" (click)="activePage = 2">
            <div class="admin-link link" [class.active]="activePage === 2">
                Admins
            </div>
        </a>

        <a routerLink="/project-managers" (click)="activePage = 3">
            <div class="project-managers-link link" [class.active]="activePage === 3">
                Project Managers
            </div>
        </a>

        <a routerLink="/clients" (click)="activePage = 4">
            <div class="clients-link link" [class.active]="activePage === 4">
                Clients
            </div>
        </a>

        <a routerLink="/auditors" (click)="activePage = 5">
            <div class="auditors-link link" [class.active]="activePage === 5">
                Auditors
            </div>
        </a>
    }
</div>
