.sidebar {
    width:14.5vw;
    height: 90%;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 25px 10px;
    .new-project {
        background-color: #0073ea;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        width: 180px;
        margin-bottom: 10px;
    }

    a{
        text-decoration: none;
        color: #000000;
    }

    .projects-link {
        padding: 10px 20px;
        border-radius: 4px;
        width: 180px;
        margin-bottom: 10px;
    }

    .project-managers-link {
        padding: 10px 0px 10px 20px;
        border-radius: 4px;
        width: 180px;
    }

    .link, .link-btn {
        cursor: pointer;
    }

    .link:hover {
        background-color: #cce5ff;
    }

    .link-btn:hover {
        background-color: #0464ca;
    }

    .active {
        background-color: #cce5ffbc;
    }
}