<div class="risk">
    <h2 class="top-heading">Risk Profile
        <button class="btn btn-green" (click)="convertToPDF()">
            Download Risk Profile
        </button>
    </h2>
    <form [formGroup]="riskForm" (ngSubmit)="addRisk()">
        <h3>Add new risk profile</h3>
        <div class="row row-1">
            <select formControlName="riskType">
                <option value="" selected disabled>Select risk type</option>
                @for (type of riskTypes | keyvalue; track $index) {
                    <option value={{type.key}}>{{type.value}}</option>
                }
            </select>

            <input type="text" formControlName="description" placeholder="Risk Description">

            <select formControlName="severity">
                <option value="" selected disabled>Select Severity</option>
                @for (severity of riskSeverity | keyvalue; track $index) {
                    <option value={{severity.key}}>{{severity.value}}</option>
                }
            </select>

        </div>

        <div class="row row-2">
            <select formControlName="impact">
                <option value="" selected disabled>Select Impact</option>
                @for (impact of riskImpact | keyvalue; track $index) {
                    <option value={{impact.key}}>{{impact.value}}</option>
                }
            </select>
            <input type="text" formControlName="remedialSteps" placeholder="Remedial Steps">
            <input type="text" formControlName="status" placeholder="Status">

        </div>

        <div class="row row-3">
            <input
                type="text"
                placeholder="Closure Date"
                formControlName="closureDate"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
            />
            <button type="submit" class="btn">Add Risk</button>
        </div>
        
    </form>

    <table class="risk-list" id="risk-profile">
            <thead>
                <th>Risk Type</th>
                <th>Description</th>
                <th>Severity</th>
                <th>Impact</th>
                <th>Remedial Steps</th>
                <th>Status</th>
                <th>Closure Date</th>
            </thead>
            <tbody>
                @for(risk of risks; track $index)
                {
                    <tr class="risk-{{$index}} risk-row" >
                        <td>{{getRiskType(risk.riskType)}}</td>
                        <td>{{risk.description}}</td>
                        <td>{{getRiskSeverity(risk.severity)}}</td>
                        <td>{{getRiskImpact(risk.impact)}}</td>
                        <td>{{risk.remedialSteps}}</td>
                        <td>{{risk.status}}</td>
                        <td>{{risk.closureDate | date}}</td>
                        <td>
                            <button (click)="deleteRisk(risk.id)" class="delete-risk">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>