.main-content {
  display: flex;
  width: 96vw;
  min-height: 90vh;
  padding-top: 30px;
}

.main-loading-conponent{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}