<div class="update">
  <h2 class="top-heading">
    Project Updates
    <button class="btn btn-green" (click)="convertToPDF()">
      Download Updates
    </button>
  </h2>
  @if(userRoleId === roles.Admin || userRoleId === roles['Project Manager'] )
  {
  <form [formGroup]="updateForm" (ngSubmit)="addUpdate()">
    <h3>Add new update</h3>
    <div class="row row-1">
      <input type="text" formControlName="generalUpdates" placeholder="General Updates" />

      <button type="submit" class="btn">Add update</button>
    </div>
  </form>
  }

  <table class="update-list" id="update-table">
    <thead>
      <th>Date</th>
      <th>General Updates</th>
      @if(userRoleId === roles.Admin || userRoleId === roles['Project Manager'] )
      {
      <th>Delete</th>
      }
    </thead>
    <tbody>
      @for(update of updates; track $index) {
      <tr class="update-{{ $index }} update-row">
        <td
          [style.pointer-events]="userRoleId === roles.Admin || userRoleId === roles['Project Manager']  ? 'auto' : 'none'"
          (click)="openUpdateProjectUpdateModal($index)">{{ update.date | date }}</td>
        <td
          [style.pointer-events]="userRoleId === roles.Admin || userRoleId === roles['Project Manager']  ? 'auto' : 'none'"
          (click)="openUpdateProjectUpdateModal($index)">{{ update.generalUpdates }}</td>
        @if(userRoleId === roles.Admin || userRoleId === roles['Project Manager'] )
        {
        <td>
          <button (click)="deleteUpdate(update.id)" class="delete-update">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>