<div class="modal">
  <h3 mat-dialog-title id="modal-heading">Edit Project</h3>
  <form [formGroup]="editProjectForm" (ngSubmit)="editProject()">
    <div class="row row-1">
      <input
        type="text"
        placeholder="Start Date"
        formControlName="creationTime"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
      />
      <input type="text" formControlName="name" placeholder="Project Name" />
      <input
        type="text"
        formControlName="projectManagerName"
        placeholder="Project manager"
      />
    </div>

    <div class="row row-2">
      <input
        type="number"
        formControlName="membersAssociated"
        placeholder="Members Associated"
      />

      <input
        type="text"
        formControlName="clientName"
        placeholder="Client Name"
      />
    </div>

    <div class="row row-3">
      <input
        type="email"
        formControlName="clientEmail"
        placeholder="Client Email"
      />

      <label for="status">Project Status</label>
      <select name="status" id="status" formControlName="status">
        <option value="" selected disabled>Select project status</option>
        <option value="progress">In Progress</option>
        <option value="completed">Completed</option>
        <option value="hold">Hold</option>
      </select>
    </div>

    <button mat-button type="submit" class="update-btn">Update Project</button>
    <button mat-button type="button" (click)="onClose()" class="cancel-btn">
      Cancel
    </button>
  </form>
</div>
