<div class="stakeholders">
    <h2 class="top-heading">Stakeholders
        <button class="btn btn-green" (click)="convertToPDF()">
            Download Stakeholders List
        </button>
    </h2>
    @if(userRoleId === roles.Admin || userRoleId === roles['Project Manager'] || userRoleId === roles.Auditor)
    {
        <form [formGroup]="stakeholderForm" (ngSubmit)="addStakeholder()">
            <h3>Add new Stakeholder</h3>
            <select name="stakeholder" id="stakeholder" formControlName="stakeholderId">
                <option value="" selected disabled>Select Stakeholder</option>
                @for(user of users; track $index;)
                {
                    <option value="{{user.user_id}}">{{user.name}}</option>
                }
            </select>
            
            <button type="submit" class="btn">Add Stakeholder</button>
        </form>
    }

    <table class="stakeholders-list" id="stakeholders-table">
        <thead>
            <th>Title</th>
            <th>Name</th>
            <th>Contact</th>
            @if(userRoleId === roles.Admin || userRoleId === roles['Project Manager'] || userRoleId === roles.Auditor)
            {
            <th>Delete</th>
            }
        </thead>
        <tbody>
            @for(stakeholder of stakeholders; track $index)
            {
            <tr class="stakeholder-{{$index}} stakeholder-row">
                <td [style.pointer-events]="userRoleId === roles.Admin || userRoleId === roles['Project Manager'] || userRoleId === roles.Auditor ? 'auto' : 'none'"
                    (click)="openUpdateStakeholderModal($index)">{{stakeholder.title}}</td>
                <td [style.pointer-events]="userRoleId === roles.Admin || userRoleId === roles['Project Manager'] || userRoleId === roles.Auditor ? 'auto' : 'none'"
                    (click)="openUpdateStakeholderModal($index)">{{stakeholder.name}}</td>
                <td [style.pointer-events]="userRoleId === roles.Admin || userRoleId === roles['Project Manager'] || userRoleId === roles.Auditor ? 'auto' : 'none'"
                    (click)="openUpdateStakeholderModal($index)">{{stakeholder.contact}}</td>
                @if(userRoleId === roles.Admin || userRoleId === roles['Project Manager'] || userRoleId ===
                roles.Auditor)
                {
                <td>
                    <button (click)="deleteStakeholder(stakeholder.id)" class="delete-stakeholder">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>