<h3 mat-dialog-title>Update audit</h3>
<form [formGroup]="updateAuditForm" (ngSubmit)="updateAudit()">
  <div class="row row-1">
    <input matInput formControlName="reviewedBy" placeholder="Reviewed By">
    <input matInput formControlName="status" placeholder="Status">
    <input matInput formControlName="reviewedSection" placeholder="Reviewed Section">
  </div>
  <div class="row row-2">
    <input matInput formControlName="comment" placeholder="Comments / Queries">
    <input matInput formControlName="actionItem" placeholder="Action Item">
    <button mat-button type="submit" class="btn">Add Audit</button>
    <button mat-button type="button" (click)="onClose()">Cancel</button>
  </div>
</form>
