<div class="sprint">
  <h2 class="top-heading">Sprint wise details</h2>
  <form [formGroup]="sprintForm" (ngSubmit)="addSprint()">
    <h3>Add new sprint</h3>
    <div class="row row-1">
      <input type="number" formControlName="sprintNumber" placeholder="Sprint Number" />

      <input
        type="text"
        placeholder="Start Date"
        formControlName="startDate"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
      />

      <input
        type="text"
        placeholder="End Date"
        formControlName="endDate"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
    />
    </div>

    <div class="row row-2">
        
      <select formControlName="status">
        <option value="" selected disabled>Select Status</option>
        <option value="Delayed">Delayed</option>
        <option value="On-time">On-time</option>
        <option value="Sign-off Pending">Sign-off Pending</option>
        <option value="On-time">Signed-off</option>
      </select>
      
      <input type="text" formControlName="comments" placeholder="Comments" />
      
      <button type="submit" class="btn">Add sprint</button>

    </div>

  </form>

  <table class="sprint-list">
    <thead>
      <th>Sprint</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
      <th>Comments</th>
    </thead>
    <tbody>
      @for(sprint of sprints; track $index) {
      <tr class="sprint-{{ $index }} sprint-row">
        <td>{{ sprint.sprintNumber }}</td>
        <td>{{ sprint.startDate | date}}</td>
        <td>{{ sprint.endDate | date}}</td>
        <td>{{ sprint.status }}</td>
        <td>{{ sprint.comments }}</td>
        <td>
          <button (click)="deleteSprint(sprint.id)" class="delete-sprint">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
