.sprint{
    margin: 0 20px 20px 0;

    .top-heading{
        margin: 20px 0 50px 0;
        text-align: center;
    }
    
    .row {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
    
        input,select{
            width: 30%;
            padding: 10px;
        }
        button{
            width: 30%;
        }
    }

    .sprint-list {
      width: 100%;
      border-collapse: collapse;

      .sprint-row{
        cursor: pointer;
      }
      .sprint-row:hover{
        background-color: rgb(254, 246, 237);
      }
    
      th,
      td {
        max-width: 160px;
        border: none;
        padding: 10px;
        text-align: left;
        font-size: 14px;
      }
    
      tr,thead{
        border: 1px solid rgba(88, 87, 87, 0.545);
      }
    
          
      .delete-sprint{   
        background: none;
        border: none;
        padding: 10px;
        cursor: pointer;
        outline: inherit;
        margin-right: 10px;
        border-radius: 4px;
      }
      .delete-sprint:hover{
        background-color: rgb(240, 110, 110);
      }
    
    }
}
