 <nav>
    <div class="left">
        <div class="logo">
            <img src="../../../assets/images/logo/logo.png" alt="logo" class="logo-img"/>
            <div class="logo-text">
                <span class="logo-text-line-1">Customer</span>
                <span class="logo-text-line-2">Support</span>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="search-bar">
            <input type="search" name="search" id="search" class="search-input" placeholder="Search">
            <button class="search-btn">
                <i class="fa fa-search search-icon"></i>
            </button>
        </div>
    
        <div class="user-profile">
            <img src="../../../assets/images/profile.png" alt="Profile Picture" class="profile-img">
            <div class="user-details">
                <span class="user-name">Priyanshu Koley</span>
                <span class="user-role">Admin</span>
            </div>
        </div>
    </div>
 </nav>