 <nav>
    <div class="left">
        <div class="logo">
            <img src="../../../assets/images/logo/logo.png" alt="logo" class="logo-img"/>
            <div class="logo-text">
                <span class="logo-text-line-1">Customer</span>
                <span class="logo-text-line-2">Support</span>
            </div>
        </div>
    </div>
    
    @if(auth.isAuthenticated$ | async )
    {
        <div class="right">
            <div class="search-bar">
                <input type="search" name="search" id="search" class="search-input" placeholder="Search">
                <button class="search-btn">
                    <i class="fa fa-search search-icon"></i>
                </button>
            </div>
        
            <div class="user-profile" *ngIf="auth.user$ | async as user">
                <img src="{{user.picture}}" alt="Profile Picture" class="profile-img">
                <div class="user-details">
                    <span class="user-name">{{ user.name | titlecase}}</span>
                    <button class="btn btn-logout" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
                        Log out 
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </button>
                    <!-- <span class="user-role">{{ user.email }}</span> -->
                </div>
            </div>
        </div>
    }
 </nav>