.modal{
    background-color: rgb(254, 254, 254);
    padding: 20px;

    h3{
        color: black;
        font-weight: bolder;
    }
    .row{
        margin: 20px;
    
        input{
            margin-right: 20px;
            padding: 10px;
        }
    }
    .update-btn{
        background-color: #0073ea;
        margin:0 20px;
        font-weight: bold;
    }
    .update-btn:hover{
        background-color: #0564c9;
    }
    .cancel-btn{
        background-color: crimson;
        font-weight: bold;
    }
    .cancel-btn:hover{
        background-color: rgb(200, 16, 53);
    }
    
}
