.project-manager-list-container{
    
    margin-left: calc(14.5vw + 30px);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(140, 140, 140);

    .project-manager-list {
        border-collapse: collapse;
        width: 75vw;
    
        .project-manager-row {
          cursor: pointer;
        }
        .project-manager-row:hover {
          background-color: rgb(254, 246, 237);
        }
    
        th,
        td {
          border: none;
          padding: 10px;
          text-align: left;
          font-size: 14px;
        }
    
        tr,
        thead {
          border: 1px solid rgba(88, 87, 87, 0.545);
        }
    }
}

.spinner-container{
    margin-left: 14.5vw;
    width: 75vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}